# Dependencies
node_modules/

# Environment
.env
.env.local
*.local

# Compiled output
/dist
/tmp
out-tsc/
*.tsbuildinfo
/bazel-out

# Node
npm-debug.log
yarn-error.log

# Logs
*.log

# Coverage
coverage/
/coverage

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Miscellaneous
/connect.lock
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# OS
.DS_Store
Thumbs.db
